{% assign products = collection.products %}
{% assign filters = collection.filters %}
{% assign products_count = collection.products_count %}
{% assign sort_by = collection.sort_by %}
{% assign current_url = collection.url %}

{% if location == 'search' %}
  {% assign products = search.results %}
  {% assign filters = search.filters %}
  {% assign products_count = search.results_count %}
  {% assign sort_by = search.sort_by %}
  {% assign current_url = search.url %}
{% endif %}

<form id="filter-form" novalidate>
  <input
    type="hidden"
    name="sort_by"
    value="{{ sort_by }}"
  >
  {% if location == 'search' %}
    <input
      type="hidden"
      id="search-query-input"
      type="text"
      name="q"
      value="{{ search.terms | escape }}"
    >
    <input type="hidden" name="type" value="product">
  {% endif %}
  <div class="flex flex-col gap-8 border border-border-primary rounded-xl py-4 lg:py-6 px-4">
    <div class="flex items-center justify-between w-full gap-4">
      <h2 class="heading-h5 text-text-primary">Filtre</h2>
      <div class="flex items-center gap-6">
        {% assign active_filter_count = 0 %}
        {% for filter in filters %}
          {% if filter.active_values.size > 0 or filter.min_value.value or filter.max_value.value %}
            {% assign active_filter_count = active_filter_count | plus: 1 %}
          {% endif %}
        {% endfor %}

        {% if active_filter_count > 0 %}
          <a
            href="{{ current_url }}"
            class="text-neutral-neutral global-transition hover:text-text-primary"
          >
            Șterge filtrele
          </a>
        {% endif %}
        <button type="button" class="lg:hidden global-transition" pxm-filter="toggle-filters">
          {% render 'icon-chevron-down', width: 24, height: 24 %}
        </button>
      </div>
    </div>
    <div class="hidden lg:flex flex-col gap-8" pxm-filter="filters">
      <p class="text-text-primary font-medium">
        Se afișează
        {% if products_count == 1 %}
          {{ products_count }} produs
        {% elsif products_count < 20 %}
          {{ products_count }} produse
        {% else %}
          {{ products_count }} de produse
        {% endif %}
      </p>

      {% for filter in filters %}
        <div>
          {% render 'filter-title', title: filter.label %}
          {% case filter.type %}
            {% when 'boolean' %}

            {% when 'list' %}
              {% case filter.label %}
                {% when 'Culoare' %}
                  <div class="grid grid-cols-5 gap-2">
                    {% for filter_value in filter.values %}
                      {% render 'filter-color',
                        index: forloop.index,
                        id: filter.param_name,
                        name: filter_value.param_name,
                        color: filter_value.label,
                        active: filter_value.active,
                        value: filter_value.value
                      %}
                    {% endfor %}
                  </div>
                {% else %}
                  <ul>
                    {% for filter_value in filter.values %}
                      <li>
                        {% render 'input-checkbox',
                          index: forloop.index,
                          id: filter.param_name,
                          name: filter_value.param_name,
                          label: filter_value.label,
                          active: filter_value.active,
                          value: filter_value.value,
                          count: filter_value.count
                        %}
                      </li>
                    {% endfor %}
                  </ul>
              {% endcase %}
            {% when 'price_range' %}
              <div>
                <div class="flex flex-col">
                  <div class="flex flex-col"></div>
                  {% assign max_price = 100 %}
                  {% for product in products %}
                    {% if product.price > max_price %}
                      {% assign max_price = product.price %}
                    {% endif %}
                  {% endfor %}
                  <div>
                    <div
                      pxm-filter="price"
                      data-min="0"
                      data-max="{{ max_price | divided_by: 100 | plus: 0 }}"
                      data-min-current="{{ filter.min_value.value | divided_by: 100 | default: 0 }}"
                      data-max-current="{{ filter.max_value.value | default: max_price | divided_by: 100 }}"
                      class="mb-2"
                    ></div>
                    <div class="flex items-center justify-between">
                      <p>
                        {{ filter.min_value.value | default: 0 | money_without_trailing_zeros }}
                      </p>
                      <p>
                        {{ max_price | money_without_trailing_zeros }}
                      </p>
                    </div>
                  </div>
                </div>
                <input
                  type="hidden"
                  id="placeholder-gte"
                  name="filter.v.price.gte"
                  value="{{ filter.min_value.value | divided_by: 100 | default: 0 }}"
                >
                <input
                  type="hidden"
                  id="placeholder-lte"
                  name="filter.v.price.lte"
                  value="{{ filter.max_value.value | default: max_price | divided_by: 100 }}"
                >
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>
  </div>
</form>
