<div class="inline-flex flex-col gap-2 lg:gap-3">
  {% if label %}
    <label class="text-text-primary font-medium lg:text-lg">
      {{- label -}}
      {%- if required %} *{% endif -%}
    </label>
  {% endif %}
  <textarea
    id="{{ id }}"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
    class="bg-bg-secondary border border-border-primary p-3 lg:py-4 lg:px-6 rounded-lg text-text-primary placeholder:text-text-secondary lg:text-lg h-32 lg:h-44"
    required="{{ required | default: false }}"
  >{{ value }}</textarea>
</div>
