<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    >

    {% comment %}
      {{ 'poppins-400-italic.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}
      {{ 'poppins-400.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}
      {{ 'poppins-500-italic.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}
      {{ 'poppins-500.woff2' | asset_url | preload_tag: as: 'font', type: 'font/woff2', crossorigin: 'anonymous' }}

        <style>
          @font-face {
            font-family: 'Poppins';
            src: url('{{ 'poppins-400.woff2' | asset_url }}') format('woff2'),
              url('{{ 'poppins-400-italic.woff2' | asset_url }}') format('woff2 italic'),
              url('{{ 'poppins-500.woff2' | asset_url }}') format('woff2'),
              url('{{ 'poppins-500-italic.woff2' | asset_url }}') format('woff2 italic');
            font-weight: 400;
            font-style: normal;
          }
        </style>
    {% endcomment %}

    {{ content_for_header }}

    {{ 'styles.css' | asset_url | stylesheet_tag }}

    {% if content_for_layout contains 'collections-slider' or content_for_layout contains 'about-reviews' %}
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      >
    {% endif %}

    {% comment %} Prefetch links {% endcomment %}

    <script
      type="module"
    >
      document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('a');

        links.forEach((link) => {
          const url = new URL(link.href);

          if (url.origin === window.location.origin) {
            link.addEventListener('mouseover', () => {
              prefetch(url.href), { once: true };
            });
          }
        });

        async function prefetch(url) {
          try {
            const cache = await caches.open('prefetch-cache');

            const cachedResponse = await cache.match(url);

            if (cachedResponse) {
              return;
            }

            const response = await fetch(url, { mode: 'no-cors' });
            if (response.ok) {
              cache.put(url, response.clone());
            } else {
              console.warn(`Failed to prefetch: ${url}`);
            }
          } catch (error) {
            console.error(`Error prefetching ${url}:`, error);
          }
        }
      });
    </script>
  </head>

  <body>
    <a class="skip-to-content-link sr-only" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>

    <script src="{{ 'nav.js' | asset_url }}" type="module" defer></script>

    {% if content_for_layout contains 'collections-slider' or content_for_layout contains 'about-reviews' %}
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
      <script src="{{ 'swiper.js' | asset_url }}" defer></script>
    {% endif %}

    {% if content_for_layout contains 'faqs' %}
      <script src="{{ 'faqs.js' | asset_url }}" defer></script>
    {% endif %}

    {% if content_for_layout contains 'main-collection' %}
      <script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js" defer></script>

      <script src="{{ 'filters.js' | asset_url }}" defer></script>
      <script src="{{ 'collection.js' | asset_url }}" defer></script>
    {% endif %}

    {% if content_for_layout contains 'main-search' %}
      <script src="https://cdn.jsdelivr.net/npm/range-slider-input@2.4/dist/rangeslider.umd.min.js" defer></script>

      <script src="{{ 'filters.js' | asset_url }}" defer></script>
      <script src="{{ 'collection.js' | asset_url }}" defer></script>
    {% endif %}

    {% if content_for_layout contains 'main-product' %}
      <script src="{{ 'product.js' | asset_url }}" defer></script>
    {% endif %}

    {% if content_for_layout contains 'main-cart' %}
      <script src="{{ 'cart.js' | asset_url }}" type="module" defer></script>
    {% endif %}

    {% comment %}
      {% if content_for_layout contains 'main-warranty' %}
        <script src="{{ 'warranty.js' | asset_url }}" type="module" defer></script>
      {% endif %}
    {% endcomment %}

    {% if customer %}
      <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2" defer></script>
      {% if content_for_layout contains 'main-wishlist' or content_for_layout contains 'main-product' %}
        <script src="{{ 'supabase.js' | asset_url }}" defer></script>
      {% endif %}
    {% endif %}
  </body>
</html>
