<footer class="bg-bg-secondary border-2 lg:border-4 border-border-secondary border-dashed rounded-t-2xl lg:rounded-[2.5rem] max-w-screen-2xl mx-auto py-10 lg:py-20 lg:mb-5">
  <div class="global-padding">
    <div class="container-large">
      <div class="flex flex-col lg:flex-row justify-between gap-12 mb-10">
        <div class="flex flex-col items-start gap-6 lg:gap-12 justify-between max-w-96">
          <a
            href="/"
            class="global-transition flex justify-center bg-brand-turquoise border-none rounded-full px-3 lg:px-6 py-1.5 lg:py-3 relative z-50 h-10 lg:h-16 w-auto"
          >
            {% render 'icon-logo' %}
          </a>
          <div class="flex flex-col">
            <p class="text-text-primary mb-3">
              {{- section.settings.newsletter_title -}}
            </p>
            <form action="">
              <div class="relative h-14 mb-4">
                <input
                  type="email"
                  placeholder="Email"
                  class="bg-bg-primary w-full h-full border-transparent rounded-[5rem] pl-6 text-text-primary placeholder:text-text-secondary focus:outline-none focus:ring-0 focus:border-brand-turquoise"
                >
                <button class="absolute top-1 bottom-1 right-1 bg-brand-turquoise text-lg font-semibold rounded-[5rem] px-8 text-[#FAFAFA]">
                  {{- section.settings.newsletter_button -}}
                </button>
              </div>
              <div class="flex items-center gap-2">
                <input
                  type="checkbox"
                  id="newsletter-consent"
                  class="w-4 h-4 rounded-sm border border-border-primary checked:border-brand-turquoise focus:border-brand-turquoise focus:ring-brand-turquoise text-brand-turquoise"
                  required
                >
                <label for="newsletter-consent" class="text-sm text-text-primary">
                  {{- section.settings.newsletter_disclaimer -}}
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
          {% for link in linklists[section.settings.footer_menu].links %}
            <div>
              <h3 class="text-text-secondary text-base font-bold mb-4 lg:mb-10">
                {{- link.title -}}
              </h3>
              {% if link.links.size > 0 %}
                <ul class="flex flex-col gap-4">
                  {% for sublink in link.links %}
                    <li>
                      <a
                        href="{{ sublink.url }}"
                        class="text-text-primary global-transition hover:text-text-alternate text-base font-medium leading-normal"
                      >
                        {{- sublink.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="flex flex-col lg:flex-row lg:items-center justify-between gap-12">
        <div class="flex items-center gap-4">
          {% if shop.brand.metafields.social_links.facebook %}
            {% render 'footer-social-link', icon: 'facebook', href: shop.brand.metafields.social_links.facebook.value %}
          {% endif %}
          {% if shop.brand.metafields.social_links.instagram %}
            {% render 'footer-social-link',
              icon: 'instagram',
              href: shop.brand.metafields.social_links.instagram.value
            %}
          {% endif %}
        </div>
        <div class="flex flex-col lg:flex-row lg:items-center gap-4 lg:gap-8">
          <p class="text-[#6E6E6E] text-sm font-medium leading-normal">© {{ 'now' | date: '%Y' }} Gogobaby</p>
          {% for link in linklists[section.settings.footer_secondary_menu].links %}
            <a
              href="{{ link.url }}"
              class="text-[#6E6E6E] global-transition hover:text-text-alternate text-sm font-medium leading-normal"
            >
              {{- link.title -}}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Abonează-te la newsletter-ul nostru ca sa afli primul despre cele mai bune oferte!"
    },
    {
      "type": "text",
      "id": "newsletter_button",
      "label": "Newsletter Button",
      "default": "Aboneaza-te"
    },
    {
      "type": "richtext",
      "id": "newsletter_disclaimer",
      "label": "Newsletter Disclaimer",
      "default": "<p>Sunt de acord cu <a href=\"/legal/politica-de-confidentialitate\">politica de confidentialitate</a>.</p>"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu",
      "default": "footer"
    },
    {
      "type": "link_list",
      "id": "footer_secondary_menu",
      "label": "Footer Secondary Menu"
    }
  ],
  "blocks": []
}
{% endschema %}
