<div class="h-20 lg:h-28 w-full z-100">
  <div class="gog-top-bar">
  <div class="scroll-wrapper">
    <div class="scroll-text gog-flexy">
      <div class="gog-pad-left">Comenzile primite in intervalul 23.12 - 06.01 vor fi livrate incepand cu data de 07.01.</div>
      <div class="gog-pad-left">Comenzile primite in intervalul 23.12 - 06.01 vor fi livrate incepand cu data de 07.01.</div>
      <div class="gog-pad-left">Comenzile primite in intervalul 23.12 - 06.01 vor fi livrate incepand cu data de 07.01.</div>
      Livrarile sunt suspendate in perioadele 24–28 dec, 31 dec–4 ian si 6 ian. 
      Expedierea se face in prima zi lucratoare, 24–72h dupa confirmarea telefonica.
    </div>
    <div class="scroll-text clone"></div>
  </div>
</div>

  <header class="fixed top-0 left-1/2 gog-class-header transform -translate-x-1/2 bg-bg-primary w-full m-0 mx-auto z-50">
    <div class="global-padding">
      <div class="container-large">
        <div class="w-full py-6 flex justify-between items-center gap-8">
          {% if template.name == 'index' %}
            <h1 class="relative z-100">
              <span class="sr-only">GoGoBaby</span>
          {% endif %}
          <a
            style="z-index: 100;"
            href="/"
            class="global-transition flex justify-center bg-brand-turquoise border-none rounded-full px-3 lg:px-6 py-1.5 lg:py-3 relative z-100 h-10 lg:h-16 w-auto"
          >
            {% render 'icon-logo' %}
          </a>
          {% if template.name == 'index' %}
            </h1>
          {% endif %}

          <div class="hidden lg:block relative" pxm-nav="menu">
            <nav class="flex lg:flex-row flex-col pt-52 px-28 lg:pt-0 lg:px-0 lg:justify-end items-center gap-8 lg:gap-6 fixed lg:static top-0 left-0 right-0 bottom-0 z-40 h-screen lg:h-auto bg-bg-primary w-full lg:opacity-100">
              <div class="flex flex-col lg:flex-row gap-6 items-center justify-end">
                {% assign links = linklists[section.settings.main_menu].links %}
                {% for link in links %}
                  <a
                    href="{{ link.url }}"
                    class="text-text-secondary hover:text-text-primary text-xl lg:text-base font-medium global-transition whitespace-nowrap hover:text-primary"
                  >
                    {{- link.title -}}
                  </a>
                  {% if forloop.first %}
                    <a
                      href="#"
                      class="text-text-secondary hover:text-text-primary text-xl lg:text-base font-medium global-transition whitespace-nowrap hover:text-primary lg:hidden"
                      data-mobile-categories
                    >
                      Categorii
                    </a>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="flex items-center gap-2 lg:justify-end">
                <!-- Search and Category Dropdown Form -->
                <div class="relative lg:block hidden">
                  <form
                    action="{{ routes.search_url }}"
                    role="search"
                    method="get"
                    class="flex items-center lg:rounded-full lg:bg-bg-secondary lg:py-1 md:w-full md:max-w-full md:overflow-hidden relative flex-grow lg:min-w-[20rem]"
                    pxm-search="form"
                  >
                    <input
                      type="text"
                      name="q"
                      value="{{ search.terms | escape }}"
                      placeholder="Caută aici..."
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      autocorrect="off"
                      autocomplete="off"
                      autocapitalize="off"
                      spellcheck="false"
                      class="w-full bg-transparent border-0 border-border-primary py-0 focus:outline-none focus:ring-0 placeholder:text-text-secondary font-normal text-base text-text-primary hidden lg:block h-12 pl-6"
                      pxm-search="input"
                      pxm-search-route="{{ routes.predictive_search_url }}"
                    >

                    <!-- Search Button -->
                    <button
                      type="submit"
                      class="lg:absolute top-2 right-2 bottom-2 p-3 lg:p-2 rounded-full bg-bg-secondary lg:bg-white flex items-center justify-center global-transition lg:hover:bg-neutral-light w-12 lg:w-10 h-12 lg:h-10"
                    >
                      {% render 'icon-search' %}
                    </button>
                  </form>
                  <div pxm-search="results-container">
                    {% if predictive_search.performed %}
                      <div
                        id="predictive-search-results"
                        pxm-search="results"
                        class="absolute top-16 left-0 right-0 p-4 bg-bg-secondary rounded-xl"
                      >
                        {% if predictive_search.resources.products.size > 0 %}
                          <h3 class="text-text-secondary text-xs uppercase font-medium mb-4">Products</h3>
                          <ul class="flex flex-col gap-2">
                            {% for product in predictive_search.resources.products %}
                              <li>
                                <a href="{{ product.url }}" class="flex items-center gap-4 group">
                                  {% if product.featured_image %}
                                    <img
                                      src="{{ product.featured_image | image_url: width: 100 }}"
                                      alt="{{ product.title }}"
                                      class="w-10 h-10 object-contain object-center rounded-md"
                                      width="{{ product.featured_image.width }}"
                                      height="{{ product.featured_image.height }}"
                                    >
                                  {% endif %}
                                  <div>
                                    <p class="text-text-primary text-sm font-semibold global-transition group-hover:text-brand-orange line-clamp-3">
                                      {{ product.title }}
                                    </p>
                                    <div class="flex items-center gap-1">
                                      {% if product.compare_at_price %}
                                        <p class="text-text-secondary text-xs line-through">
                                          {{ product.compare_at_price | money_without_trailing_zeros }}
                                        </p>
                                      {% endif %}
                                      <p class="text-text-secondary text-xs">
                                        {{ product.price | money_without_trailing_zeros }}
                                      </p>
                                    </div>
                                  </div>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          <p class="text-text-secondary text-sm">No results found.</p>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Account Links -->
                <div class="flex items-center gap-2 lg:gap-3">
                  {% if customer %}
                    {% render 'nav-acc-btn', path: routes.account_url, icon: 'user' %}
                  {% else %}
                    {% render 'nav-acc-btn', path: routes.account_login_url, icon: 'user' %}
                  {% endif %}
                  <div class="hidden lg:block">
                    {% render 'nav-acc-btn', path: '/cart', icon: 'cart' %}
                  </div>
                  {% comment %} {% render 'nav-acc-btn', path: '/pages/wishlist', icon: 'heart' %} {% endcomment %}
                </div>
              </div>
            </nav>
            {% render 'mobile-categories' %}
          </div>

          <!-- Mobile Buttons -->
          <div class="flex items-center gap-4 lg:hidden">
            <a href="/search" class=" bg-bg-secondary rounded-full w-10 h-10 p-2 block lg:hidden z-50">
              {% render 'icon-search' %}
            </a>
            <div class="z-50">
              {% render 'nav-acc-btn', path: '/cart', icon: 'cart' %}
            </div>
            <button
              class="lg:hidden relative w-10 h-10 py-3 px-2 flex flex-col items-center justify-center gap-1 bg-bg-secondary rounded-full z-50"
              pxm-nav="mobile-btn"
            >
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu",
      "default": "main-menu"
    }
  ],
  "blocks": []
}
{% endschema %}
