<div class="h-28 w-full">
  <header class="fixed top-0 left-1/2 transform -translate-x-1/2 bg-bg-primary z-40 w-full m-0 mx-auto z-50">
    <div class="global-padding">
      <div class="container-large">
        <div class="w-full py-6 flex justify-between items-center gap-8">
          {% if template.name == 'index' %}
            <h1>
              <span class="sr-only">GoGoBaby</span>
          {% endif %}
          <a
            href="/"
            class="global-transition flex justify-center bg-brand-turquoise border-none rounded-full px-3 lg:px-6 py-1.5 lg:py-3 relative z-50 h-10 lg:h-16 w-auto"
          >
            {% render 'icon-logo' %}
          </a>
          {% if template.name == 'index' %}
            </h1>
          {% endif %}

          <div class="hidden lg:block" pxm-nav="menu">
            <nav class="flex lg:flex-row flex-col pt-52 px-28 lg:pt-0 lg:px-0 lg:justify-end items-center gap-8 lg:gap-6 fixed lg:static top-0 left-0 right-0 bottom-0 z-40 h-screen lg:h-auto bg-bg-primary w-full">
              <div class="flex flex-col lg:flex-row gap-6 items-center justify-end">
                {% for link in linklists['main-menu'].links %}
                  <a
                    href="{{ link.url }}"
                    class="text-text-secondary hover:text-text-primary text-xl lg:text-base font-medium global-transition whitespace-nowrap hover:text-primary"
                  >
                    {{- link.title -}}
                  </a>
                {% endfor %}
              </div>

              <div class="flex items-center gap-2 lg:justify-end">
                <!-- Search and Category Dropdown Form -->
                <div class="relative">
                  <form
                    action="{{ routes.search_url }}"
                    role="search"
                    method="get"
                    class="flex items-center lg:rounded-full lg:bg-bg-secondary lg:py-1 md:w-full md:max-w-full md:overflow-hidden relative flex-grow lg:min-w-[20rem]"
                    pxm-search="form"
                  >
                    <input
                      type="text"
                      name="q"
                      value="{{ search.terms | escape }}"
                      placeholder="Caută aici..."
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      autocorrect="off"
                      autocomplete="off"
                      autocapitalize="off"
                      spellcheck="false"
                      class="w-full bg-transparent border-0 border-border-primary py-0 focus:outline-none focus:ring-0 placeholder:text-text-secondary font-normal text-base text-text-primary hidden lg:block h-12 pl-6"
                      pxm-search="input"
                      pxm-search-route="{{ routes.predictive_search_url }}"
                    >

                    <!-- Search Button -->
                    <button
                      type="submit"
                      class="lg:absolute top-2 right-2 bottom-2 p-3 lg:p-2 rounded-full bg-bg-secondary lg:bg-white flex items-center justify-center global-transition lg:hover:bg-neutral-light"
                    >
                      {% render 'icon-search' %}
                    </button>
                  </form>
                  <div pxm-search="results-container">
                    {% if predictive_search.performed %}
                      <div
                        id="predictive-search-results"
                        pxm-search="results"
                        class="absolute top-16 left-0 right-0 p-4 bg-bg-secondary rounded-xl"
                      >
                        {% if predictive_search.resources.products.size > 0 %}
                          <h3 class="text-text-secondary text-xs uppercase font-medium mb-4">Products</h3>
                          <ul>
                            {% for product in predictive_search.resources.products %}
                              <li>
                                <a href="{{ product.url }}" class="flex items-center gap-2 group">
                                  {% if product.featured_image %}
                                    <img
                                      src="{{ product.featured_image | image_url: width: 100 }}"
                                      alt="{{ product.title }}"
                                      class="w-10 h-10 object-contain object-center rounded-md"
                                      width="{{ product.featured_image.width }}"
                                      height="{{ product.featured_image.height }}"
                                    >
                                  {% endif %}
                                  <div>
                                    <p class="text-text-primary text-sm font-semibold global-transition group-hover:text-brand-orange">
                                      {{ product.title }}
                                    </p>
                                    <div class="flex items-center gap-1">
                                      {% if product.compare_at_price %}
                                        <p class="text-text-secondary text-xs line-through">
                                          {{ product.compare_at_price | money_without_trailing_zeros }}
                                        </p>
                                      {% endif %}
                                      <p class="text-text-secondary text-xs">
                                        {{ product.price | money_without_trailing_zeros }}
                                      </p>
                                    </div>
                                  </div>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          <p class="text-text-secondary text-sm">No results found.</p>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Account Links -->
                <div class="flex items-center sm:gap-2 lg:gap-3">
                  {% if customer %}
                    {% render 'nav-acc-btn', path: routes.account_url, icon: 'user' %}
                  {% else %}
                    {% render 'nav-acc-btn', path: routes.account_login_url, icon: 'user' %}
                  {% endif %}
                  {% render 'nav-acc-btn', path: '/cart', icon: 'cart' %}
                  {% render 'nav-acc-btn', path: '/pages/wishlist', icon: 'heart' %}
                </div>
              </div>
            </nav>
          </div>

          <!-- Mobile Buttons -->
          <div>
            <button
              class="lg:hidden relative w-10 h-10 py-3 px-2 flex flex-col items-center justify-center gap-1 bg-bg-secondary rounded-full z-50"
              pxm-nav="mobile-btn"
            >
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
              <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
