<div
  class="
    h-20 lg:h-20
    w-full z-100 mb-[-2rem]
  "
>
  <header
    class="header-promotii bg-promotii fixed top-0 left-1/2 transform -translate-x-1/2 w-full m-0 mx-auto z-50 "
    data-template="{{ template.suffix }}"
    data-pro-start="{{ section.settings.promotii_start }}"
    data-pro-end="{{ section.settings.promotii_end }}"
    data-before-text="{{ section.settings.promo_text_before | escape }}"
    data-during-text="{{ section.settings.promo_text_during | escape }}"
  >
    <div class="global-padding ptb-2">
      <div class="container-large">
        <div class="header-promotii_wrapper w-full flex justify-between items-center lg:gap-8 gap-4">
          {% if template.name == 'index' %}
            <h1 class="relative z-100">
              <span class="sr-only">GoGoBaby</span>
          {% endif %}
          <a
            style="z-index: 100;"
            href="/"
            class="global-transition flex justify-center bg-brand-turquoise border-none rounded-full px-3 lg:px-6 py-1.5 lg:py-3 relative z-100 h-10 lg:h-16 w-auto"
          >
            {% render 'icon-logo' %}
          </a>
          {% if template.name == 'index' %}
            </h1>
          {% endif %}
          <div data-countdown="timer" class=" flex items-center  gap-2 ml-auto ">
            <div class="flex items-center  gap-2" aria-label="Black Friday countdown timer">
              <div
                class="bg-bg-primary rounded-lg p-2 flex lg:gap-2 gap-1"
                data-countdown-box
                data-countdown-part="days"
                aria-label="Days remaining"
              >
                <div class="text-center w-[3ch]" data-countdown-value>00</div>
                <div class="font-medium">zile</div>
              </div>
              <div
                class="bg-bg-primary rounded-lg p-2 flex lg:gap-2 gap-1 poppins"
                data-countdown-box
                data-countdown-part="hours"
                aria-label="Hours remaining"
              >
                <div class="text-center w-[2ch]" data-countdown-value>00</div>
                <div class="font-medium  ">ore</div>
              </div>
              <div
                class="bg-bg-primary rounded-lg p-2 flex lg:gap-2 gap-1"
                data-countdown-box
                data-countdown-part="minutes"
                aria-label="Minutes remaining"
              >
                <div class="text-center w-[2ch]" data-countdown-value>00</div>
                <div class="font-medium  ">min</div>
              </div>
              <div
                class="bg-bg-primary rounded-lg p-2 flex lg:gap-2 gap-1 "
                data-countdown-box
                data-countdown-part="seconds"
                aria-label="Seconds remaining"
              >
                <div class=" text-center w-[3ch]" data-countdown-value>00</div>
                <div class="font-medium  ">sec</div>
              </div>
            </div>
            <p class="lg:text-xl text-sm block text-white font-semibold" data-countdown-message>
              {{ section.settings.promo_text_before | default: 'până la finalul promoției' }}
            </p>
          </div>
          <div class="button-bf-container gog-but">
            {% render 'button-bf', type: 'link', hierarchy: 'primary', href: section.settings.button_link | default: '/', text: section.settings.button_text | default: 'Acasa' %}
          </div>
          <div class="hidden lg:block relative" pxm-nav="menu">
            <nav class="flex lg:flex-row flex-col bradius-50 pt-52 px-28 lg:pt-0 lg:px-0 lg:justify-end items-center gap-8 lg:gap-6 fixed lg:static top-0 left-0 right-0 bottom-0 z-40 h-screen lg:h-auto bg-bg-primary w-full lg:opacity-100">
              <div class="flex items-center gap-2 lg:justify-end">
                <!-- Search and Category Dropdown Form -->

                <!-- Account Links -->
                <div class="flex items-center gap-2 lg:gap-3 bg-yellow">
                  <div class="hidden lg:block">
                    {% render 'nav-acc-btn', path: '/cart', icon: 'cart' %}
                  </div>
                  {% comment %} {% render 'nav-acc-btn', path: '/pages/wishlist', icon: 'heart' %} {% endcomment %}
                </div>
              </div>
            </nav>
            {% render 'mobile-categories' %}
          </div>

          <!-- Mobile Buttons -->
          <div class="flex items-center gap-4 lg:hidden">
            <div class="z-50">
              {% render 'nav-acc-btn', path: '/cart', icon: 'cart' %}
            </div>
            {% comment %}
              <button
                class="lg:hidden relative w-10 h-10 py-3 px-2  flex-col items-center justify-center gap-1 bg-bg-secondary rounded-full z-50"
                pxm-nav="mobile-btn"
              >
                <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
                <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
                <div class="w-full h-[2px] rounded-2xl bg-neutral-darker" pxm-nav="mobile-btn-line"></div>
              </button>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0431/6663/0052/files/blue-line.svg?v=1765355976"
      alt=""
      class="w-full h-8 object-cover object-left absolute bottom-[-2rem] left-0 "
      width="1440"
      height="32"
      style="object-position: left;"
    >
  </header>
</div>

<style>
  .header-black-friday_wrapper {
    padding-top: 1.5rem;
  }
  .bg-promotii {
    background-color: #33a3de;
  }
  /* Ensure digits have equal width to avoid jitter */
  [data-countdown-value] {
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 2ch;
  }
  .button-bf-container {
    margin-left: auto;
  }
  @media (max-width: 1024px) {
    [data-countdown-value] {
      font-size: 1.25rem;
      width: 2.2ch;
    }

    [data-countdown] {
      font-size: 1rem;
    }
  }
  @media (max-width: 1024px) {
    .button-bf {
      padding-right: 0.5rem !important;
      font-size: 0.875rem !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
      padding-left: 0.25rem !important;
    }
    [data-countdown-value] {
      font-size: 1.125rem;
      width: 2ch;
    }
    [data-countdown='timer'] {
      position: fixed;
      top: calc(100vh - 5rem);
      bottom: auto;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      z-index: 1000;
      font-size: 0.75rem;
      padding: 0 0.5rem;
      background: #fcca1a;
      padding: 0.5rem 0;
      height: 5rem;
      flex-direction: column;
    }
    [data-countdown-box] {
      padding: 0.25rem;
    }
  }
  @media (max-width: 420px) {
    .button-bf-icon {
      display: none;
    }
    .button-bf {
      padding-right: 0.5rem !important;
      font-size: 0.875rem !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
      padding-left: 0.5rem !important;
    }
  }

  .button-bf {
      padding-right: 0.5rem !important;
      font-size: 0.8rem !important;
      padding-top: 0.25rem !important;
      padding-bottom: 0.25rem !important;
      padding-left: 0.5rem !important;
    }

    @media(max-width:500px){
      .button-bf-icon{
      display:none;
    }
    }

  .bradius-50{
    border-radius:50%;
  }
</style>

{% schema %}
{
  "name": "Header Promotii",
  "settings": [
    {
      "type": "text",
      "id": "promo_text_before",
      "label": "Message before start",
      "default": "până la startul promoției"
    },
    {
      "type": "text",
      "id": "promo_text_during",
      "label": "Message during promo",
      "default": "până la finalul promoției"
    },
    {
      "type": "text",
      "id": "promotii_start",
      "label": "Start datetime – Promotii (ISO 8601)",
      "info": "Example: 2025-12-01T00:00:00+02:00"
    },
    {
      "type": "text",
      "id": "promotii_end",
      "label": "End datetime – Promotii (ISO 8601)",
      "info": "Example: 2025-12-24T23:59:59+02:00"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Acasa"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
      "default": "/"
    }
    
  ],
  "presets": [
    {
      "name": "Header Promotii"
    }
  ]
}
{% endschema %}
