{% assign compare_price = product.selected_or_first_available_variant.compare_at_price %}

<section>
  <div class="global-padding pt-4 pb-6 lg:py-6">
    <div class="container-large">
      <div class="flex flex-wrap items-center gap-3 mb-8 mt-8">
        <a href="/collections" class="text-text-secondary font-medium global-transition hover:text-text-primary"
          >Colectii</a
        >
        {% render 'icon-chevron-right', width: 16, height: 16, class: 'text-text-primary' %}
        <a
          href="/collections/{{ product.collections.first.handle }}"
          class="text-text-secondary font-medium global-transition hover:text-text-primary"
        >
          {{- product.collections.first.title -}}
        </a>
        {% render 'icon-chevron-right', width: 16, height: 16, class: 'text-text-primary' %}
        <h1 class="text-text-primary font-medium">{{ product.title }}</h1>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-20">
        <div>
          {% render 'product-images', product: product %}
        </div>
        <div class="">
          <h1 data-product-name class="heading-h3 text-text-primary mb-4">{{ product.title }}</h1>
          <div class="inline-flex items-center gap-4 mb-4 lg:mb-14">
            <p class="font-semibold text-xl text-text-secondary line-through" data-compare-price>
              {{ compare_price | money_without_trailing_zeros }}
            </p>
            <p class="font-semibold text-xl text-text-error">
              {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
            </p>
          </div>

          <div class="flex flex-col gap-6 mb-4 lg:mb-8">
            <px-add-to-cart>
              {% form 'product', product, class: 'flex items-center gap-8  flex-wrap', data-product-form: '' %}
                {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                  {% render 'input-number',
                    id: 'quantity',
                    name: 'quantity',
                    placeholder: '1',
                    value: 1,
                    max: product.selected_or_first_available_variant.inventory_quantity,
                    data-variant-id: product.selected_or_first_available_variant.id
                  %}
                {% else %}
                  <p class="font-semibold text-text-error bis_soldout">Stoc epuizat</p>
                {% endif %}
                <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-5 max-w-48">
                  {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                    {% render 'product-add-to-cart', product: product %}
                  {% endif %}
                  {% comment %} {% render 'product-add-to-wishlist', product: product, customer: customer %} {% endcomment %}
                </div>
              {% endform %}
            </px-add-to-cart>
            {% if product.vendor == "Lionelo" %}
              <div class="lionelo-button-wrapper">
                <a href="https://www.gogobaby.ro/pages/lionelo-protect" class="lionelo-btn">Garantie extinsa 12 ani</a>
              </div>

              <style>
                .lionelo-btn {
                  display: inline-block;
                  background: #ff6600;
                  color: #fff;
                  padding: 12px 20px;
                  text-decoration: none;
                  border-radius: 6px;
                  font-weight: bold;
                  transition: 0.3s;
                }
                .lionelo-btn:hover {
                  background: #e65c00;
                }
              </style>
            {% endif %}
          </div>
          {% render 'product-tabs', product: product %}
        </div>
      </div>
    </div>
  </div>
</section>
{% render 'add-to-cart-notfication' %}

{%- assign current_variant = product.selected_or_first_available_variant -%}
{% render 'structured-data-product', product: product, current_variant: current_variant %}
{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "blocks": []
}
{% endschema %}
